.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}

.image-item {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 20px;
}

.image-item img {
  max-width: 100%;
  height: auto;
  border: 1px solid red;
}

@media screen and (max-width: 400px) {
  .image-grid {
    display: block;
  }

  .image-item {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.custom-navbar {
  padding: 15px 0;
  font-size: 20px;
}

.custom-logo {
  margin-right: 10px;
  font-size: 20px;
}

.custom-navbar-brand {
  text-align: center;
  margin: auto;
}

@media (max-width: 768px) {
  .custom-logo {
    margin-right: auto;
  }

  .custom-navbar-brand {
    font-size: 18px;
    margin-left: 20px;
  }
}

.load-more-button {
  background-color: black;
  color: white;
  display: flex;
  margin:10px auto ;
  border: 1px solid red;
  padding: 5px;
  border-radius: 10px;
}
